/* General Styles */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #f8d7da;
    color: #721c24;
    text-align: center;
}

h1 {
    color: #721c24;
}

main {
    display: flex;
    flex-direction: column; /* Arrange rooms vertically */
    align-items: center; /* Center rooms */
    padding: 20px;
}

section {
    background-color: #f5c6cb;
    border: 2px solid #f1948a;
    border-radius: 10px;
    padding: 20px;
    width: 80%; /* Adjust width as needed */
    margin-bottom: 20px; /* Add space between rooms */
}

.game-accordion .game-header {
    cursor: pointer;
    padding: 10px;
    background-color: #f1948a;
    border-radius: 5px;
    margin-bottom: 10px;
}

.game-accordion .game-content {
    display: none; /* Initially hide game content */
    padding: 15px;
    background-color: #f8d7da;
    border-radius: 8px;
}
